:root {
    --color-primary: #757575;
    --color-secondary: #212121;
    --color-accent: #2196F3;
    --color-button: #188CE8;
    --color-brand: #FFFFFF;
    --color-logo-accent: #000000;
    --color-brand-secondary: rgba(255, 255, 255, 0.6);
    --color-bgd-dark: #2F303A;
    --color-bgd-light: #F5F4FA;
    
    --color-solid-portfolio: #EEEEEE;
    --color-solid-header: #ECECEC;
    --color--icon-primary: #AFB1B8;
    --color-textarea: rgba(117, 117, 117, 0.5);
}

